// a {
//     color: white;
//     text-decoration: none;

//     &:focus, &:hover, &:visited, &:link, &:active {
//         text-decoration: none;
//         color: white;
//     }
// }

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
  width: 100vw;
}
  